body{
    background: white;
}
.style_layout{
    width: 6.4rem;
    color: #333;
}
.biaoti{
    width: 6.4rem;
    height:0.8rem;
    color:#616161 ;
    background:#f9f9f9;
    text-align: center;
}
.biaoti img{
    width: 15%;
    position: absolute;
    left: 0;
    top: -1.5%;
}
.biaoti span{
    font-size: 0.6rem;
}
.fanshi{
    width: 6.4rem;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    height: 0.8rem;
    color: #616161;
}
.fanshi span{
    line-height: 0.8rem;
    font-size: 0.25rem;
}
#span1{
    margin-left: 1rem;
    width: 2rem;
    border-bottom: 2px solid red;
    text-align: center;
    position: absolute;
    top: 6.5% ;
}
#span2{
    margin-right: 1rem;
    position: absolute;
    top: 6.5%;
    right: 0;
}
.wenben{
    width: 6.4rem;
}
input{
    width: 4.9rem;
    height: 1rem;
    margin-left: 0.5rem;

}
label{
    width: 0.5rem;
    height: 1rem;

}
.a{
    border-bottom: 1px solid #d7d7d7;
    width: 6rem;
    margin:  0 auto;
    margin-left: 0.5rem;
}
.wenben  button{
    width: 6rem;
   height: 0.6rem;
    margin-left: 0.2rem;
  margin-top: 0.3rem;
}
.button1{
    background-color: #eee;
    color: #848689;
}
.button2{
    border: 1px solid #f23030;
    color: #f23030;
    background: #fff;
}
.zhuce{
    width: 6.4rem;
    margin-top: 0.3rem;
}
#left{
    margin-left: 0.4rem;

}
#right{
    margin-right: 0.4rem;
    float: right;
}
.qita{
    width: 6.4rem;
    height: 1.99rem;
    margin-top: 1.9rem;
}
.qita img{
    width: 100%;
}