.style_layout{
    width:6.4rem;

}
body{
    background: white;
}


.logo{
    width: 6.4rem;
    margin: auto;
    text-align: center;
}
.logo img{
    width: 50%;
}
.logo input{
    border: 1px solid #ececec;
    width: 5rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 0.2rem;
    height: 0.5rem;

}
.logo_img{
    position: absolute;
    right: 12%;
    margin-top:1%;
    border-left: 1px solid #ececec ;
}
.logo_img img{
    width: 0.36rem;!important;

}
.logo_2{
    width: 6.4rem;
    text-align: center;
    margin-top: 0.3rem;
    font-size: 0.2rem;
    height: 1.5rem;
    padding:0 0.3rem;
}
.logo_2 img{
    width:1rem;!important;
}
.logo_2 ul {
    width: 6rem;
    height: 1.5rem;
    margin: auto;
}
.logo_2 ul  li {
    float: left;
    margin-right: 0.2rem;
}
.logo_3{
    width: 6.4rem;
    border-bottom: 1px solid  #ececec;
    border-top: 1px solid  #ececec;
    height: 3rem;
}
.logo_3 img {
    width:3rem;
    float: left;
}
#left img{
    border-right: 1px solid #ececec;
}
#right{
    float: right;
}
#right img{
    width: 3.1rem;!important;
}
#top img{
    border-bottom: 1px solid #ececec;
}
#button{
    width: 6.4rem;
    height: 1rem;
}
#button button{
    width: 1.25rem;
    height: 0.36rem;
    color: rgba(230, 66, 0, 0.89);
    border: 1px solid #ecdfdf;
    background: white;
}
#button ul {
    width: 5.8rem;
    margin: auto;
    font-size: 0.2rem;
}
#button ul li{
    float: left;
    margin-right: 0.2rem;
    margin-top: 0.1rem;
    text-align: center;
}
.main{
    width: 6.4rem;
   padding: 0 0.5rem;
    margin-top: 0.3rem;
    height: 1.2rem;
}
.main img {
   width:  1rem;
}
.main ul {
    width: 6rem;
    margin: auto;
}
.main ul li {
    float: left;
    margin-right: 0.4rem;
    text-align: center;
}
.main_1{
    width: 6.4rem;
    height: 0.6rem;
    background: #f1f0f5;
    text-align: center;
    font-size: 0.2rem;
}
.main_2{
    width:6.4rem;
    height: 2.8rem;
}
.main_2 img{
    width: 100%;
}
.main_3{
    width: 6.4rem;
    height: 0.6rem;
    background: #f1f0f5;
    text-align: center;
    font-size: 0.2rem;
}
.main_4{
    width: 6.4rem;
    border-top: 1px solid  #ececec;
    height: 3.2rem;
    float: left;

}
.main_4 img {
    float: left;

}
#left_1 img{
    width: 2.8rem;
    border-right: 1px solid #ececec;
}
#top_1 img{
    width: 2.8rem;
    border-bottom: 1px solid #ececec;
}
#bottom_1 img{
    width: 2.8rem;
}
.main_5{
    width: 6.4rem;
    height: 0.6rem;
    text-align: center;
    background:#f1f0f5 ;
    font-size: 0.2rem;
    clear: left;
}
.main_6{
    width: 6.4rem;
}
.main_6 img{
    width: 100%;
}
.main_7{
    width: 6.4rem;
}
.main_7 img{
    width: 3rem;
    border: 1px solid #ececec;
}
.main_7 ul{
    width: 6rem;
    margin: auto;
}
.main_7 ul li {
    float: left;
}
.span1{
    padding: 0 0.3rem;

}
.span2{
    float: right;
   padding: 0 0.3rem;
}
.foot{
    width: 6.4rem;
    margin-top: 0.1rem;
    border-top: 1px solid #ececec;
    text-align: center;
    height:2rem ;

}
.foot ul{
    display: inline-block;
    margin:  0 auto;

}
.foot ul li{
    float: left;
    margin-right: 0.2rem;
}
footer{
    width: 6.4rem;
    height: auto;
    position: fixed;
    z-index: 1000;
    background: #fff;
    left: 0;
    bottom: 0;

}
.footer ul{
    width: 6.4rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}
footer ul li{
    float: left;
    width: 20%;
    text-align: center;
}
footer img{
    width: 100%;
}
