
.style_layout{
    width: 6.4rem;
}
.biaoti{
    width: 6.4rem;
    height:0.8rem;
    color:#616161 ;
    background:#f9f9f9;
    text-align: center;
}
.biaoti img{
    width: 15%;
    position: absolute;
    left: 0;
    top: -1.5%;
}
.biaoti span{
    font-size: 0.6rem;
}
.main{
    width: 6.4rem;
}
.main input{
    width: 6rem;
    margin-left: 0.2rem;
    border-bottom: 1px solid #ececec;
    text-align: center;
    background: #f7f7f7;
    height: 0.87rem;
    margin-top: 0.2rem;
    font-size: 0.3rem;
}
.main img{
    width: 6rem;
    text-align: center;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
}
#form_widget{
    width: 6.4rem;
    height: 1.5rem;
}
.txt{
    display:block;/*设置为独立块（换行）*/
    width:70%;
    margin:0 auto;
    height:35px;
    font-size:15pt;
    border-radius:5px;/*设置圆角样式*/
    border:0;
    padding-left:8px;
}
#vcode{
    height: 0.7rem;
    width: 54%;
    font-size: 0.4rem;
    margin-left: 0.2rem;
    border-radius: 5px;
    border: 0;
    margin-top: 0.2rem;
    text-align: center;
}
#code{
    color: #ffffff;
    background-color: #000000;
    font-size: 0.3rem;
    padding: 0.17rem 0.7rem 0.12rem 0.7rem;
    margin-left: 5%;

}
#search_pass_link{
    width: 70%;
    text-align: center;

    padding: 0.25rem;
}
#search_pass_link button{
    width: 6rem;
    height: 0.6rem;
}